{% extends 'base.html' %}


{% block content %}

<h3 class="text-center mb-5">Bsg has total {{ blogs.count }} blog{{ blogs.count|pluralize }}</h3>

{% for b in blogs %}

<div class="row justify-content-center my-3">
    <div class="col-md-10">
        <a href="{% url 'details' b.id %}">
            <h2 class="post-title">{{ b.title }}</h2>
        </a>
        <h4 class="post-subtitle">
            {{ b.description|striptags|truncatechars:100 }}
        </h4>
        <p class="post-meta">Posted by
            {{ b.user }} on {{ b.created|date:'M d Y' }}</p>
        <hr>
    </div>

    <div class="col-md-2">
        <a href="{% url 'edit' b.id %}"><span class="badge badge-success ml-auto small badge-pill">Edit</span></a>
    </div>
</div>

{% endfor %}


{% endblock %}